.search-panel
	display: inline-block
	padding-left: 3px

.search-panel input
	border: 2px solid cadetblue
	border-radius: 5px
	width: 100%
	line-height: 1.2rem
	text-indent 0.3rem
	font-size: 17px

.search-filter-buttons
	display: flex
	justify-content space-between
	padding-top: 2px

.search-filter-buttons button
	background-color: cadetblue
	color white
	font-size: 0.7rem
	border: 1px solid aliceblue
	border-radius: 5px
	&:hover
		background-color: rgb(203, 210, 216)
		color black

.search-filter-buttons .active-filter
	background-color: aliceblue
	color black
	font-weight: 500
	border 1px solid cadetblue
	&:hover
		background-color: aliceblue
